/* Error: expected ";".
 *   ,
 * 3 | $white: rgb(255, 255, 255);
 *   |       ^
 *   '
 *   scss\_variables.scss 3:7  @import
 *   scss\main.scss 3:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 3 \2502  $white: rgb(255, 255, 255);\a   \2502        ^\a   \2575 \a   scss\\_variables.scss 3:7  @import\a   scss\\main.scss 3:9        root stylesheet';
}
