/*fonts*/
*{
    font-family:'Noto Sans', sans-serif;
    font-size: 16px;    
    padding: 0%;
    margin: 0%;    
    
    }
    
body{
    background-image: url(/assets/fondodepagina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
.navbar{
    padding: 0px;
    color:white;
}

#barra{
    background-color: #8a2be2;
    padding:0px;
    color:white;
}


    
    /*GRID*/  /*0.5fr en el utltimo fr de grid-template-rows*/
/*200px para cambiar por el primer 1fr*/
.grid.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "menu           menu            menu"
    "principal      principal       principal"
    "base           base            base"
    ;
}
.menu{
    grid-area: menu;
}
.cuerpo{
    grid-area: principal;
}
.base{
    grid-area: base;
}

.logo-img{
    width: 40%;
    height: 60%;
}

.img{
    width: 80%;
    height: 80%;
}

/*background color #AA0AA7*/

/*Header*/

/*background: whitesmoke;*/

/*Main*/
.primercontenedor{
   background-position: center;
   width: 100%;
   height: 45vh;
}

/*texto Main*/
.primercontenedor h2{
    font-size: 8em;
    position: relative;
    top: 55%;
    color: white;
}

.title-promo p {
    font-style: italic;
}

.logo-nos-img{
    max-width: 20%;
    max-height: 20%;
    
}

h5{
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}


.row{
    display: flex;
    text-align-last: center;
}

.informacion{
    align-content:center;
    font-size: 10em;
}
/*footer*/
.pie{
    background-color: #8a2be2;
    height: 4em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.logos-redes{
    display: flex;
    text-align-last: center;
    width: 150px;
}

.fa-brands{
    font-size: 2rem;
}

.fa-regular{
    font-size: 2rem;
}
/*copy*/
.copyright{
    text-align: center;
    font-size: 1em;
}

    /*tablet*/
    @media (max-width: 768px){
       
        .gtid.container{
            background-color: #8a2be2;
            .grid.container{
                grid-template-columns: 1fr;
                grid-template-rows: 0.3fr 0.5fr 0.2fr;
                grid-template-areas: 
                "menu"
                "principal"
                "base"
                ;   
            }
        }
        .card-img {
            width: 6rem;
        }
        
        .mapa-img{
            align-items: center;
            width: 25%;
            height: 25%;
        }
    }

    
    /*mobile*/
    @media (max-width: 576px){

    }

  
 
   