    /*tablet*/
    @media (max-width: 768px){
       
        .gtid.container{
            background-color: #8a2be2;
            .grid.container{
                grid-template-columns: 1fr;
                grid-template-rows: 0.3fr 0.5fr 0.2fr;
                grid-template-areas: 
                "menu"
                "principal"
                "base"
                ;   
            }
        }
        .card-img {
            width: 6rem;
        }
        
        .mapa-img{
            align-items: center;
            width: 25%;
            height: 25%;
        }
    }

 
   @media screen and (max-width:800px){
        html{background-color: #8a2be2;}
   }

   @media screen and (max-width:550px){
        html{background-color: blue;}
   }
   @media screen and (max-width: 360px){
        html{background-color: fuchsia;}
   }