/*Main*/
.principal{
    .row{
        display: flex;
        text-align-last: center;
    }
    .logo-img{
        width: 40%;
        height: 60%;
    }
    .img{
        @include ancho-alto;
    }
    .informacion{
        align-content:center;
        font-size: 10em;
    }
    h5{
        @include textos;

    }
    .logo-nos-img{
        max-width: 20%;
        max-height: 20%;
        
    }
}